{% extends '@Contao/page/layout.html.twig' %}

{# Custom Page Layout Template for Contao 5.7 #}

{% block end_of_head %}
    {# Custom Stylesheet #}
    <link rel="stylesheet" href="{{ asset('files/theme/css/theme.css') }}">
    
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block body_content %}
        {% slot header %}
            <header>
                <div class="inside">{{ slot() }}</div>
            </header>
        {% endslot %}

        {% slot main %}
            <main>{{ slot() }}</main>
        {% endslot %}

        {% slot footer %}
            <footer>
                <div class="inside">{{ slot() }}</div>
            </footer>
        {% endslot %}
    {% endblock %}

    {# Access the response context inside a "defer" block, so that elements coming after it can still affect it. #}
    {% defer %}
        {% block end_of_body %}
            {% for element in response_context.end_of_body %}
                {{ element|raw }}
            {% endfor %}

            {{ response_context.json_ld_scripts|default|raw }}
        {% endblock %}
    {% enddefer %}
{% endblock %}
