{% extends '@Contao/page/layout.html.twig' %}

{# Custom Page Layout Template for Contao 5.7 #}

{% block end_of_head %}
    {# Custom Stylesheet #}
    <link rel="stylesheet" href="{{ asset('files/theme/css/style.css') }}">
    
    {{ parent() }}
{% endblock %}

{% block body_content %}
    {% slot header %}
        <header>
            {% slot logo %}
                <div class="logo">{{ slot() }}</div>
            {% endslot %}
            
            {% slot navigation %}
                <nav>{{ slot() }}</nav>
            {% endslot %}
        </header>
    {% endslot %}

    {% slot main %}
        <main>{{ slot() }}</main>
    {% endslot %}

    {% slot footer %}
        <footer>{{ slot() }}</footer>
    {% endslot %}
{% endblock %}
